<div class="ciblog-allinone">
  <!-- <h3 class="panel-title">{{ text_title }}</h3> -->
  {% if view == 'few' %}
    {% if blogtabs|length <= 1 %}
      {% if blogposts[blogtabs_first_key] %}
        {% for blogpost in blogposts[blogtabs_first_key] %}
          {% set blogpost = blogpost|merge({'image_thumb_width': few_width ~ 'px'}) %}
          {% set blogpost = blogpost|merge({'image_thumb_height': few_height ~ 'px'}) %}
          <div class="ciblogpost ciblog-layout ciblog-list">
            <div class="post-container row">
              <a href="{{ blogpost.href }}">
                {% set caption_sm = 12 %}
                {% if image_show_listing %}
                  {% set caption_sm = 8 %}
                  <div class="post-image col-sm-4">
                   <div class="image img-radius">{% if blogpost.add_video_url %}<div class="civideo-container"><iframe width="{{ blogpost.image_thumb_width }}" height="{{ blogpost.image_thumb_height }}" src="{{ blogpost.video_url }}" frameborder="0" allowfullscreen></iframe></div>{% else %}<a href="{{ blogpost.href }}"><img src="{{ blogpost.thumb }}" alt="{{ blogpost.image_alt }}" title="{{ blogpost.image_title }}" class="img-responsive" /></a>{% endif %}</div>
                  </div>
                {% endif %}
                <div class="post-caption col-sm-{{ caption_sm }}">
                  <h4>{{ blogpost.name }}</h4>
                  {# <p>{{ blogpost.description }}</p> #}
                </div>
                <div class="clearfix"></div>
              </a>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% else %}
      <ul class="nav nav-tabs">
        {% set i = 0 %}
        {% for blogtab in blogtabs %}
          {% if blogposts[blogtab.id] %}
            <li {% if i==0 %}class="active"{% endif %}><a href="#tab-{{ blogtab.id }}-{{ module }}" data-toggle="tab">{{ blogtab.name }}</a></li>
            {% set i = i+1 %}
          {% endif %}
        {% endfor %}
      </ul>
      <div class="tab-content">
        {% set i = 0 %}
        {% for blogtab in blogtabs %}
          {% if blogposts[blogtab.id] %}
          <div class="tab-pane {% if i==0 %}active{% endif %}" id="tab-{{ blogtab.id }}-{{ module }}">
            {% for blogpost in blogposts[blogtab.id] %}
              {% set blogpost = blogpost|merge({'image_thumb_width': few_width ~ 'px'}) %}
              {% set blogpost = blogpost|merge({'image_thumb_height': few_height ~ 'px'}) %}
              <div class="ciblogpost ciblog-layout ciblog-list">
                <div class="post-container row">
                  <a href="{{ blogpost.href }}">
                    {% set caption_sm = 12 %}
                    {% if image_show_listing %}
                    {% set caption_sm = 8 %}
                    <div class="post-image col-sm-4">
                     <div class="image img-radius">{% if blogpost.add_video_url %}<div class="civideo-container"><iframe width="{{ blogpost.image_thumb_width }}" height="{{ blogpost.image_thumb_height }}" src="{{ blogpost.video_url }}" frameborder="0" allowfullscreen></iframe></div>{% else %}<a href="{{ blogpost.href }}"><img src="{{ blogpost.thumb }}" alt="{{ blogpost.image_alt }}" title="{{ blogpost.image_title }}" class="img-responsive" /></a>{% endif %}</div>
                    </div>
                    {% endif %}
                    <div class="post-caption col-sm-{{ caption_sm }}">
                      <h4>{{ blogpost.name }}</h4>
                      {# <p>{{ blogpost.description }}</p> #}
                    </div>
                    <div class="clearfix"></div>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
          {% set i = i+1 %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}
  {% if view == 'more' %}
    {% if blogtabs|length <= 1 %}
      {% if blogposts[blogtabs_first_key] %}
        {% for blogpost in blogposts[blogtabs_first_key] %}
          <div class="ciblogpost ciblog-layout ciblog-list">
            <div class="ciblog-thumb">
              <div class="col-sm-4">
                {% if image_show_listing %}<div class="image img-radius">{% if blogpost.add_video_url %}<div class="civideo-container"><iframe width="{{ blogpost.image_thumb_width }}" height="{{ blogpost.image_thumb_height }}" src="{{ blogpost.video_url }}" frameborder="0" allowfullscreen></iframe></div>{% else %}<a href="{{ blogpost.href }}"><img src="{{ blogpost.thumb }}" alt="{{ blogpost.image_alt }}" title="{{ blogpost.image_title }}" class="img-responsive" /></a>{% endif %}</div>{% endif %}
              </div>
              <div class="col-sm-8">
                <div class="cicaption">
                  {% if show_title %}<h4><a href="{{ blogpost.href }}">{{ blogpost.name }}</a></h4>{% endif %}
                  <ul class="ciblog-info list-inline">
                    {% if show_author and blogpost.author.name %}<li><label>{{ text_postby }}</label><span><a href="{{ blogpost.author.href }}">{{ blogpost.author.name }}</a></span></li>{% endif %}
                    {% if show_date_publish %}<li><label>{{ text_on }}</label><span><a href="{{ blogpost.search_date_added }}">{{ blogpost.date_added }}</a></span></li>{% endif %}
                  </ul>
                  {% if show_description %}<div class="ciblog-description"><p>{{ blogpost.description }}</p></div>{% endif %}
                  {% if blogpost.rating %}<div class="ciblog-rating rating">{% for i in 1..5 %}{% if blogpost.rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>{% endif %}{% endfor %}</div>{% endif %}
                  <div class="row">
                    <div class="col-sm-6">
                      <a href="{{ blogpost.href }}" class="btn btn-primary">{{ button_read_more }}</a>
                    </div>
                    <div class="col-sm-6">
                      <div class="ciblog-view text-right">
                        <ul class="list-inline">
                          {% if show_total_view %}<li><i class="fa fa-eye"></i> {{ blogpost.viewed }}</li>{% endif %}
                          {% if like_show_total %}<li class="hearting" data-blogid="{{ blogpost.ciblog_post_id }}">{% if blogpost.isMyHeart %}<i class="fa fa-heart"></i>{% else %}<i class="fa fa-heart-o {% if can_like %}cimyheart{% endif %}"></i>{% endif %} <span>{{ blogpost.heart }}</span></li>{% endif %}
                          {% if comment_show_total %}<li><i class="fa fa-comments"></i> {{ blogpost.comments }}</li>{% endif %}
                        </ul>
                      </div>
                    </div>
                  </div>
                 </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% else %}
      <ul class="nav nav-tabs">
        {% set i = 0 %}
        {% for blogtab in blogtabs %}
          {% if blogposts[blogtab.id] %}
            <li {% if i==0 %}class="active"{% endif %}><a href="#tab-{{ blogtab.id }}-{{ module }}" data-toggle="tab">{{ blogtab.name }}</a></li>
            {% set i = i+1 %}
          {% endif %}
        {% endfor %}
      </ul>
      <div class="tab-content">
        {% set i = 0 %}
        {% for blogtab in blogtabs %}
          {% if blogposts[blogtab.id] %}
            <div class="tab-pane{% if i==0 %}active{% endif %}" id="tab-{{ blogtab.id }}-{{ module }}">
              {% for blogpost in blogposts[blogtab.id] %}
                <div class="ciblogpost ciblog-layout ciblog-list">
                  <div class="ciblog-thumb">
                    <div class="col-sm-4">
                      {% if image_show_listing %}<div class="image img-radius">{% if blogpost.add_video_url %}<div class="civideo-container"><iframe width="{{ blogpost.image_thumb_width }}" height="{{ blogpost.image_thumb_height }}" src="{{ blogpost.video_url }}" frameborder="0" allowfullscreen></iframe></div>{% else %}<a href="{{ blogpost.href }}"><img src="{{ blogpost.thumb }}" alt="{{ blogpost.image_alt }}" title="{{ blogpost.image_title }}" class="img-responsive" /></a>{% endif %}</div>{% endif %}
                    </div>
                    <div class="col-sm-8">
                      <div class="cicaption">
                        {% if show_title %}<h4><a href="{{ blogpost.href }}">{{ blogpost.name }}</a></h4>{% endif %}
                        <ul class="ciblog-info list-inline">
                          {% if show_author and blogpost.author.name %}<li><label>{{ text_postby }}</label> <span><a href="{{ blogpost.author.href }}">{{ blogpost.author.name }}</a></span></li>{% endif %}
                          {% if show_date_publish %}<li><label>{{ text_on }}</label> <span><a href="{{ blogpost.search_date_added }}">{{ blogpost.date_added }}</a></span></li>{% endif %}
                          {% if blogpost.rating %}<li><label>{{ text_rating }}</label> <span class="ciblog-rating rating">{% for i in 1..5 %}{% if blogpost.rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>{% endif %}{% endfor %}</span></li>{% endif %}
                        </ul>
                        {% if show_description %}<div class="ciblog-description"><p>{{ blogpost.description }}</p></div>{% endif %}

                        <div class="row">
                          <div class="col-sm-6">
                            <a href="{{ blogpost.href }}" class="btn btn-primary">{{ button_read_more }}</a>
                          </div>
                          <div class="col-sm-6">
                            <div class="ciblog-view text-right">
                              <ul class="list-inline">
                                {% if show_total_view %}<li><i class="fa fa-eye"></i> {{ blogpost.viewed }}</li>{% endif %}
                                {% if like_show_total %}<li class="hearting" data-blogid="{{ blogpost.ciblog_post_id }}">{% if blogpost.isMyHeart %}<i class="fa fa-heart"></i>{% else %}<i class="fa fa-heart-o {% if can_like %}cimyheart{% endif %}"></i>{% endif %} <span>{{ blogpost.heart }}</span></li>{% endif %}
                                {% if comment_show_total %}<li><i class="fa fa-comments"></i> {{ blogpost.comments }}</li>{% endif %}
                              </ul>
                            </div>
                          </div>
                        </div>
                       </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            {% set i = i+1 %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}
</div>