<div class="membership_content_cols" id="membership_content">
  {% if sub_title %}
  <div class="memberheading">
    <span>{{ sub_title }}</span>
  </div>
  {% endif %}
  {{ top_description }}
  <div class="prcing_table">
    <div class="table_titles clearfix hide">
      <div class="table_cols_one title_text">{{ column_plan }}</div>
      <div class="table_cols_two title_text2 hidden-xs">{{ column_feature }}</div>
    </div>
    <div class="row">
    {% for mpplan in mpplans %}
      <div class="col-sm-3 xl-25 sm-50 md-25 xs-100">
        <div class="pricing_content green clearfix" id="pricingcontent-{{ mpplan.mpplan_id }}">
          <div class="table_cols_one">
            <div class="plan_name plan_name{{ mpplan.mpplan_id }}">{{ mpplan.name }}</div>
            <h3 class="xs-price">{{ mpplan.price }}</h3>
            <div class="plan_time plan_time{{ mpplan.mpplan_id }}">{{ text_duration }} {{ mpplan.duration }}</div>
          </div>  
          <div class="table_cols_two plan_detail">
            <ul class="list-unstyled">
              {% if mpplan.informations %}
              {% for information in mpplan.informations %}
                <li><label>{{ information.name }}</label></li>
              {% endfor %}
              {% endif %}
            </ul>
            <div class="plan_price">
              <a href="{{ mpplan.href }}" class="plan_view">{{ button_details }}</a>
              <button class="plan_buy plan_buy{{ mpplan.mpplan_id }} btn" rel="{{ mpplan.mpplan_id }}" onclick="MPMEMBERSHIP.add('{{ product_id }}','{{ mpplan.mpplan_id }}')">{{ button_buy }}</button>
            </div>
          </div>
        </div>
      </div>          
      <style type="text/css">
        .membership_content .pricing_content .plan_name{{ mpplan.mpplan_id }} {
          {% set style_one = '' %}
          {% if mpplan.first_textcolor %}
          {% set style_one = 'color: ' ~ mpplan.first_textcolor ~ ';' %}
          {% endif %}
          {{ style_one }}
        }

        .membership_content .pricing_content .plan_time{{ mpplan.mpplan_id }} {
          {% set style_two = '' %}
          {% if mpplan.second_textcolor %}
            {% set style_two = 'color: ' ~ mpplan.second_textcolor ~ ';' %}
          {% endif %} 
          {{ style_two }}
        }

        #pricingcontent-{{ mpplan.mpplan_id }} .table_cols_one{
          {% set style_one = '' %}
          {% if mpplan.first_bgcolor %}
            {% set style_one = mpplan.first_bgcolor %}
          {% endif %}
          {% set style_two = '' %}
          {% if mpplan.second_bgcolor %}
            {% set style_two =  mpplan.second_bgcolor %}
          {% endif %}
          background: {{ style_one }};
        }

        #pricingcontent-{{ mpplan.mpplan_id }} .table_cols_two{
          {% set style_one = '' %}
          {% if mpplan.first_bgcolor %}
            {% set style_one = mpplan.first_bgcolor %}
          {% endif %}
          {% set style_two = '' %}
          {% if mpplan.second_bgcolor %}
            {% set style_two =  mpplan.second_bgcolor %}
          {% endif %}
          background: {{ style_two }};
        }

        {% if mpplan.second_textcolor %}
        #pricingcontent-{{ mpplan.mpplan_id }} .table_cols_two label {
          color: {{ mpplan.second_textcolor }};
        }
        {% endif %}

        {% if mpplan.first_bgcolor %}
        #pricingcontent-{{ mpplan.mpplan_id }} .table_cols_one::after{
          color: {{ mpplan.first_bgcolor }};
        }
        {% endif %}

        {% if mpplan.second_textcolor %}
        #pricingcontent-{{ mpplan.mpplan_id }} .plan_view{
          color: {{ mpplan.second_textcolor }};
          border-color: {{ mpplan.second_textcolor }};
        }
        {% endif %}

        {% if mpplan.first_bgcolor or mpplan.first_textcolor %}
        #pricingcontent-{{ mpplan.mpplan_id }} .plan_buy{
          {% if mpplan.first_bgcolor %}
          background: {{ mpplan.first_bgcolor }};
          border-color: {{ mpplan.first_bgcolor }};
          {% endif %}

          {% if mpplan.first_textcolor %}
          color: {{ mpplan.first_textcolor }};
          {% endif %}
        }
        {% endif %}
      </style>
    {% endfor %}
    </div>
  </div>
</div>