{{ header }}{{ column_left }} 
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="gs-feed-add" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %} 
                    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                {% endfor %} 
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if (error['error_warning'] is defined) %} 
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error['error_warning'] }} 
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %} 
        {% if (error is defined and error != "") %} 
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error }} 
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %} 
        {% if (success is defined and success != '') %} 
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }} 
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %} 
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="gs-feed-add" class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit_feed_add }}</h3>
                </div>
                <div class="panel-body">
                    {{ googleshopping_common }} 
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <input type="hidden" name="googleshopping[feed][id_gs_feed]" value="{{ id_gs_feed }}" placeholder="" id="id_googleshopping_feed" class="form-control"/>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="googleshopping-profile">{{ text_googleshopping_profile }}</label>
                                <div class="col-sm-10">
                                    <select name="googleshopping[feed][profile]" id="googleshopping-profile" class="form-control">
                                      {% for profile in profile_details %} 
                                          {% if (profile['id_gs_profiles'] == google_select_profile) %} 
                                                <option value="{{ profile['id_gs_profiles'] }}" selected="selected">{{ profile['profile_title'] }}</option>
                                          {% else %} 
                                                <option value="{{ profile['id_gs_profiles'] }}">{{ profile['profile_title'] }}</option>
                                          {% endif %} 
                                      {% endfor %} 
                                    </select>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="googleshopping_feed_label">{{ text_feed_label }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="googleshopping[feed][feed_label]" value="{% if (googleshopping['feed']['feed_label'] is defined) %}{{ googleshopping['feed']['feed_label'] }}{% endif %}" placeholder="" id="googleshopping_feed_label" class="form-control" required="required"/>
                                    {% if (error_googleshopping_feed_label) %} 
                                    <div class="text-danger">{{ error_googleshopping_feed_label }}</div>
                                    {% endif %} 
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="googleshopping-schedule">{{ text_googleshopping_schedule }}</label>
                                <div class="col-sm-10">
                                    <select name="googleshopping[feed][schedule]" id="googleshopping-schedule" class="form-control">
                                      {% for schedule in schedules %} 
                                          {% if (schedule['id'] == google_selected_schedule) %} 
                                              <option value="{{ schedule['id'] }}" selected="selected">{{ schedule['name'] }}</option>
                                          {% else %} 
                                              <option value="{{ schedule['id'] }}">{{ schedule['name'] }}</option>
                                          {% endif %} 
                                      {% endfor %} 
                                    </select>
                                </div>
                            </div>   
                            <div class="form-group required" {% if (google_selected_schedule != 'weekly') %} style="display:none;" {% endif %}>
                                <label class="col-sm-2 control-label" for="googleshopping_weekday">{{ text_weekday }}</label>
                                <div class="col-sm-10">
                                    <select name="googleshopping[feed][weekday]" id="googleshopping_weekday" class="form-control">
                                      {% for weekday in weekdays %} 
                                          {% if (weekday['id'] == selected_weekday) %} 
                                              <option value="{{ weekday['id'] }}" selected="selected">{{ weekday['name'] }}</option>
                                          {% else %} 
                                              <option value="{{ weekday['id'] }}">{{ weekday['name'] }}</option>
                                          {% endif %} 
                                      {% endfor %} 
                                    </select>
                                </div>
                            </div>
                            <div class="form-group required" {% if (google_selected_schedule != 'monthly') %} style="display:none;" {% endif %}>
                                <label class="col-sm-2 control-label" for="googleshopping_day_of_month">{{ text_day_of_month }}</label>
                                <div class="col-sm-10">
                                    <select name="googleshopping[feed][day_of_month]" id="googleshopping_day_of_month" class="form-control">
                                      {% for month in day_of_month %} 
                                          {% if (month['id'] == selected_month) %} 
                                              <option value="{{ month['id'] }}" selected="selected">{{ month['name'] }}</option>
                                          {% else %} 
                                              <option value="{{ month['id'] }}">{{ month['name'] }}</option>
                                          {% endif %} 
                                      {% endfor %} 
                                    </select>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="googleshopping_hour">{{ text_hour }}</label>
                                <div class="col-sm-10">
                                    <select name="googleshopping[feed][hour]" id="googleshopping_hour" class="form-control">
                                      {% for hour in hours %} 
                                          {% if (hour['id'] == selected_hour) %} 
                                              <option value="{{ hour['id'] }}" selected="selected">{{ hour['name'] }}</option>
                                          {% else %} 
                                              <option value="{{ hour['id'] }}">{{ hour['name'] }}</option>
                                          {% endif %} 
                                      {% endfor %} 
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="view/javascript/googleshopping/jquery.validate.min.js"></script>
<script src="view/javascript/googleshopping/jquery.custom.validation.js"></script>
<script src="view/javascript/googleshopping/additional-methods.min.js"></script>

<style type="text/css">
    .image-loader-temp{
        position: relative;
        top: 30px;
        right: -1150px;
    }
</style>

<script type="text/javascript">
$.extend( $.validator.messages, {
	required: '{{ required }}',
    remote: '{{ remote }}',
    email: '{{ email }}',
    url: '{{ url }}',
    date: '{{ date }}',
    dateISO: '{{ dateISO }}',
    number: '{{ number }}',
    digits: '{{ digits }}',
    creditcard: '{{ creditcard }}',
    equalTo: '{{ equalTo }}',
    maxlength: '{{ maxlength }}',
    minlength: '{{ minlength }}',
    rangelength: '{{ rangelength }}',
    range: '{{ range }}',
    max: '{{ max }}',
    min: '{{ min }}'
});

var messages = {
    mandatory: '{{ mandatory }}',
    price: '{{ price }}',
    decimalNotRequired: '{{ decimalNotRequired }}',
    email: '{{ email }}',
    passwd: '{{ passwd }}',
    notRequiredPasswd: '{{ notRequiredPasswd }}',
    mobile: '{{ mobile }}',
    addressLine1: '{{ addressLine1 }}',
    addressLine2: '{{ addressLine2 }}',
    digit: '{{ digit }}',
    notRequiredDigit: '{{ notRequiredDigit }}',
    firstname: '{{ firstname }}',
    lastname: '{{ lastname }}',
    middlename: '{{ middlename }}',
    requiredMin2Max60NoSpecial: '{{ requiredMin2Max60NoSpecial }}',
    requiredip: '{{ requiredip }}',
    optionalip: '{{ optionalip }}',
    requiredimage: '{{ requiredimage }}',
    optionalimage: '{{ optionalimage }}',
    requiredcharonly: '{{ requiredcharonly }}',
    optionalcharonly: '{{ optionalcharonly }}',
    barcode: '{{ barcode }}',
    ean: '{{ ean }}',
    upc: '{{ upc }}',
    size: '{{ size }}',
    requiredurl: '{{ requiredurl }}',
    optionalurl: '{{ optionalurl }}',
    carrier: '{{ carrier }}',
    brand: '{{ brand }}',
    optionalcompany: '{{ optionalcompany }}',
    requiredcompany: '{{ requiredcompany }}',
    sku: '{{ sku }}',
    requiredmmddyy: '{{ requiredmmddyy }}',
    optionalmmddyy: '{{ optionalmmddyy }}',
    requiredddmmyy: '{{ requiredddmmyy }}',
    optionalddmmyy: '{{ optionalddmmyy }}',
    optionalpercentage: '{{ optionalpercentage }}',
    requiredpercentage: '{{ requiredpercentage }}',
    checktags: '{{ checktags }}',
    checkhtmltags: '{{ checkhtmltags }}',
    requireddocs: '{{ requireddocs }}',
    optionaldocs: '{{ optionaldocs }}',
    requiredcolor: '{{ requiredcolor }}',
    optionalcolor: '{{ optionalcolor }}'
};

$(document).ready(function() {
    $("#gs-feed-add").validate({
        errorClass: "text-danger",
        highlight: function (label) {
            $(label).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function (label) {
            $(label).closest('.form-group').removeClass('has-error');
            label.remove();
        },
        rules: {
            'category': {
                'xrequire_from_group': ["1", '.category-selection'],
            }
        }
    });
});

$.validator.addMethod("xrequire_from_group", $.validator.methods.require_from_group, '{{ mandatory }}');
$( document ).ready(function() {
    {% if (id_gs_feed is defined) %} 
    var google_feed_id = '{{ id_gs_feed }}';
    document.getElementById('id_googleshopping_feed').value = google_feed_id;
    {% endif %} 
});

$('#googleshopping-schedule').bind('change',function() {
    var selected = $(this).val();
    if(selected == 'weekly') {
        $('#googleshopping_weekday').parent().parent().css('display','block');
        $('#googleshopping_day_of_month').parent().parent().css('display','none');
    } else if(selected == 'monthly') {
        $('#googleshopping_day_of_month').parent().parent().css('display','block');
        $('#googleshopping_weekday').parent().parent().css('display','none');
    } else if(selected == 'daily') {
        $('#googleshopping_day_of_month').parent().parent().css('display','none');
        $('#googleshopping_weekday').parent().parent().css('display','none');
    }
});
</script>
{{ footer }}