{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1 class="text-center">{{ heading_title }}</h1>
      <div class="row">
        <div class="col-sm-4 col-md-offset-4 ">
          {% if not verified %}
          <div class="ciblog-subscriber-verify ciblog-panel">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">{{ text_title }}</h3>
              </div>
              <div class="panel-body">
                <div class="ciblog_code">
                  <input type="text" name="ciblog_code" value="" placeholder="{{ text_code }}" class="form-control input-sm" />
                  <div class="buttons">
                    <button type="button" class="btn btn-primary btn-sm" onclick="ciCodeVerify(this);"><i class="fa fa-shield"></i> {{ button_verify }}</button>
                    <a class="pull-right ciblog-resendcode" onclick="ciCodeResend(this)">{{ button_resend_code }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="alert alert-success">{{ text_verified }}</div>
          {% endif %}
        </div>
      </div>
      <div class="buttons clearfix">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
<style type="text/css">
.ciblog-resendcode {
  cursor: pointer;
  color: #a94442;
}
</style>
<script type="text/javascript">
  function ciCodeVerify(el) {
    var $ciblog_code = $(el).parents('.ciblog_code').first();
    var code = $ciblog_code.find('input[name="ciblog_code"]').val();

    $.ajax({
      url: 'index.php?route=extension/ciblog/cisubscriber/verifyManual&key=' + encodeURIComponent(code),
      type: 'get',
      dataType: 'json',
      beforeSend: function() {
        $(el).button('loading');
      },
      complete: function() {
        $(el).button('reset');
      },
      success: function(json) {
        console.log(json)
        $('.alert, .text-danger').remove();

        if (json['error']) {
          if(typeof json['error']['warning'] != 'undefined' && json['error']['warning']) {
            $ciblog_code.find('input[name="ciblog_code"]').before('<div class="alert alert-danger"><i class="fa fa-check-circle"></i> ' + json['error']['warning'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
          }
          if(typeof json['error']['code'] != 'undefined' && json['error']['code']) {
            $ciblog_code.find('input[name="ciblog_code"]').after('<div class="text-danger"><i class="fa fa-check-circle"></i> ' + json['error']['code'] + '</div>');
          }
          if(typeof json['error']['email'] != 'undefined' && json['error']['email']) {
            $ciblog_code.find('input[name="ciblog_code"]').after('<div class="text-danger"><i class="fa fa-check-circle"></i> ' + json['error']['email'] + '</div>');
          }
        }
        if (json['success']) {
          $ciblog_code.find('input[name="ciblog_code"]').before('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
        }
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }

  function ciCodeResend(el) {
    var $ciblog_code = $(el).parents('.ciblog_code').first();
    var code = $ciblog_code.find('input[name="ciblog_code"]').val();

    $.ajax({
      url: 'index.php?route=extension/ciblog/cisubscriber/codeResend&key=' + encodeURIComponent(code),
      type: 'get',
      dataType: 'json',
      beforeSend: function() {
        $(el).button('loading');
      },
      complete: function() {
        $(el).button('reset');
      },
      success: function(json) {
        console.log(json)
        $('.alert, .text-danger').remove();

        if (json['error']) {
          if(typeof json['error']['warning'] != 'undefined' && json['error']['warning']) {
            $ciblog_code.find('input[name="ciblog_code"]').before('<div class="alert alert-danger"><i class="fa fa-check-circle"></i> ' + json['error']['warning'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
          }
          if(typeof json['error']['code'] != 'undefined' && json['error']['code']) {
            $ciblog_code.find('input[name="ciblog_code"]').after('<div class="text-danger"><i class="fa fa-check-circle"></i> ' + json['error']['code'] + '</div>');
          }
          if(typeof json['error']['email'] != 'undefined' && json['error']['email']) {
            $ciblog_code.find('input[name="ciblog_code"]').after('<div class="text-danger"><i class="fa fa-check-circle"></i> ' + json['error']['email'] + '</div>');
          }
        }
        if (json['success']) {
          $ciblog_code.find('input[name="ciblog_code"]').before('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
        }
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }
</script></div>
{{ footer }}